<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>salix</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>PurchaseArtworkServlet</display-name>
    <servlet-name>PurchaseArtworkServlet</servlet-name>
    <servlet-class>products.PurchaseArtworkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchaseArtworkServlet</servlet-name>
    <url-pattern>/PurchaseArtworkServlet</url-pattern>
    <url-pattern>/purchase_artwork</url-pattern>
  </servlet-mapping>
</web-app>