@CHARSET "UTF-8";

body {
	font-family: "source sans pro", sans-serif;
	background-color: #ffce92;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

a {
	text-decoration: none;
}

.links a {
	display: block;
	float: left;
	margin: 0 10px;
}

ul {
	font-family: "Georgia";
	font-weight: bold;
}

.space {
	height: 1000px;
}

#title-row, .row_a {
	background-color: #ffee99;
	color: #779167;
}

#medium-row, .row_b {
	background-color: #b6bf6d;
	color: #ffee99;
}

table {
	margin: 0px auto;
}

table td {
	padding: 5px 10px;
}

img {
	width: 100px;
	
}

.center-with-margin{
	margin: 0px auto;
	display: block;
}